:root {
  --base-background: #071422;
  --base-profile: #0B1B2B;
  --base-post: #112131;
  
  --base-title: #E7EDF4;
  --base-text: #AFC2D4;
  --base-span: #7B96B2;
  --base-subtitle: #C4D4E3;
  --base-label: #3A536B;
  --base-border: #1C2F41;

  --base-input: #040F1A;

  --blue: #3294F8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background-color: var(--base-background);

  font-family: 'Nunito', sans-serif;
  color: var(--base-text);
  line-height: 160%;
}